---
import Heading from "@/components/common/Heading.astro";
import { processSteps } from "@/utils/const";
import NeuralLine from "@/components/background_animation/NeuralLine.astro";
import CTACard from "@/components/cards/CTACard.astro";
import ProcessCard from "@/components/cards/ProcessCard.astro";
---

<!-- Process Section -->
<section id="process" class="py-10 sm:py-20 relative overflow-hidden">
  <div class="container mx-auto flex flex-col gap-8 sm:gap-16">
    <!-- Header -->
    <Heading
      section="How It Works"
      title="Our Proven"
      highlights="AI Innovation"
      subtitle="From initial consultation to final deployment, we follow a structured approach that ensures successful AI implementation and maximum return on investment."
    />

    <div class="flex flex-col gap-6 sm:gap-12">
      <!-- Process Steps -->
      <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-8">
        {
          processSteps.map((step, index) => (
            <ProcessCard
              index={index}
              processSteps={processSteps}
              icon={step.icon}
              title={step.title}
              description={step.description}
            />
          ))
        }
      </div>

      <!-- CTA Section -->
      <CTACard
        title="Start Your AI Journey Today"
        subtitle="Ready to revolutionize your business with AI? Our team is here to guide you through every step of the process, from concept to implementation."
        actions="Get Free Consultation"
        delay={800}
      />
    </div>
  </div>
  <NeuralLine />
</section>
<!-- End Process Section -->
